#jao {
	width: 300px;
	border: 1px solid #CCC;
	padding: 10px;
    margin-left: 10px;
	background: #FAFAFA;
}

.add-new-localities {
    background: #fff;
    color: #000;
    border: #ccc 1px solid;
    outline: 0;
    box-shadow: none;
    padding: 8px 20px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', helvetica, sans-serif;
    color: #333;    
}

#wrapper {
    margin: 10px;
    margin-bottom: 160px;
    float: left;
    width: 400px;
}

